<div class='col-11' [routerLink]="[event.id]">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src={{event.imageUrl}}>
      <mat-card-title>{{event.name}}</mat-card-title>
      <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2>{{event.name}}</h2>
      <div>Date: {{event.date}}</div>
      <div [ngSwitch]="event?.time" [ngClass]="isEarlyStart()">Time: {{event.time}}

        (<kbd *ngSwitchCase="'8:00 am'">Early Start </kbd>
        <kbd *ngSwitchCase="'10:00 am'"> Late Start</kbd>
        <kbd *ngSwitchDefault> Normal Start</kbd>) </div>
      <div>Price: {{event.price|currency}}</div>
      <div *ngIf="event?.location">
        <span> Location: {{event?.location?.address}}
        </span>
        <span>&nbsp;</span>
        <span>{{event.location?.city}}, {{event.location?.country}}</span>
      </div>
      <div *ngIf="event?.onlineUrl">OnlineUrl: {{event?.onlineUrl}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab class="m-1" (click)="handleUpvote()">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-mini-fab class="m-1" (click)="handleDownVote()">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
